Pods/
Podfile.lock
build

compile_commands.json

RestGoateeExample/RestGoateeExample.xcworkspace/xcuserdata/dignar.xcuserdatad/UserInterfaceState.xcuserstate

RestGoatee.xcworkspace/xcuserdata/dignar.xcuserdatad/UserInterfaceState.xcuserstate
